repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: end-of-file-fixer
        exclude: '.bumpversion.cfg'
    -   id: trailing-whitespace
        exclude: '.bumpversion.cfg'
    -   id: check-docstring-first
    -   id: check-yaml
    -   id: debug-statements
    -   id: check-ast
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    - id: black
      language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        args:
          - --max-line-length=500
          - --ignore=E203,E266,E501,W503,E402
          - --max-complexity=31
          - --select=B,C,E,F,W,T4,B9
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
