language: python
dist: xenial

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8-dev"
  - "nightly"
  - "pypy"
  - "pypy3.5"

matrix:
  allow_failures:
    - python: "3.8-dev"
    - python: "nightly"

install:
  - pip install tox-travis codecov bumpversion pycodestyle

script:
 - pycodestyle --show-source
 - tox

after_success:
 - codecov
 - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" = "master" ]; then bumpversion --verbose minor && bash push.sh; fi

cache: pip

