[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pysocks = "*"
bumpversion = "*"
pytest-cov = '*'
codecov = '*'

[packages]
tqdm = "*"
requests = "*"
requests-toolbelt = "*"
responses = "*"
six = "*"
huepy = "*"
pytz = "*"

[requires]
python_version = "3.7"
