bumpversion==0.5.3

tqdm==4.31.1
requests==2.21.0
pycodestyle==2.5.0
requests-toolbelt==0.9.1
pyflakes==2.1.0
schedule==0.6.0
pysocks==1.6.8
pytest==4.3.0
responses==0.10.5
future==0.17.1
six==1.12.0
huepy==0.9.8.1
